body {
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    max-width:1439.56px;
    margin: 0 auto 0 auto;
    background-color: #0e0e0e;
}

header {
    display: flex;
    margin: 15px 82px 0 82px;
    justify-content: space-between;
}
main {
    margin: 0 70px 0 70px;
}

header h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
}

strong {
    color: #FF5B50;
}

nav {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    justify-content: space-between;
}

nav p {
    margin: auto 60px auto 0;
}

button {
    display: flex;
    width: 230px;
    height: 50px;
    padding: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: auto 0 auto 0;
}

button img {
    margin: auto 15px auto auto;
}

button p {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: auto;
}

.general-info {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 100px 0;
}

.general-info p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    width: 390px;
    margin-bottom: 55px;
    margin-right: 40px;
}

.general-info img {
    width: 169px;
    height: 87px;   
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.general-info h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
    width: 700px;
    margin: 0;
}

.general-info > img {
    width: 200px;
    height: 200px;
    margin: auto 0 auto 40px;
}
.general-info-img {
    color: #FFFFFF;
    display: flex;
    align-items: end;
}

.general-info-img p{
    margin: 0 0 0 6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    width: fit-content;
}

table{
    align-items: center;
    border-spacing: 0 8px 60px 8px;
}

.galery td img{
    margin: 0 8px 60px 8px;
    border: 1px solid #fff;
    width: 90%;
    height: 90%px;
}

.main2 {
    display: flex;
    border-bottom: 1px solid #5A5757;

}
.numbers {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #5A5757;
    border-right: 1px solid #5A5757;
}

.numbers p {
    padding: 0 70px 70px 0;
    margin: 0;
}

.numbers strong {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
}

.container1 {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
}

.container1 p {
    padding:0 70px 0 70px;
    width: 391px;
}

.container1 p strong {
    color: #FF5B50;
    font-weight:400;
}

.container1 p a {
color: #fff;
}

.main2 > div > img {
    max-width: 1158px;
    max-height: 300px;
    position: inherit;
}

.colunas {
    display: flex;
justify-content: space-between;}

.main3 h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #FFf;
    margin-top: 150px;
}

.colunas h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;    
    color: #FFFFFF;
}

.colunas h3 img {
    margin-left: 105px;
}

.colunas p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #5A5757;
    justify-content: space-between;
    margin-bottom: 30px;
}

.colunas p strong {
    padding-left: 130px;
    font-weight: 400;
}

.coluna2 p strong {
    padding-left: 80px;
}

.coluna2 hr  {
    color: transparent;
    border: 1px solid #5A5757;
    transform: rotate(90.48deg);
}

.melhores-artistas {
    text-align: center;
    margin-top: 150px;
}

.melhores-artistas h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
    margin-bottom: 100px;
}

.artistas{
    display: flex;
    flex-wrap:wrap;
    width: 1287px;
    justify-content: center;
}

.artistas div {
    display: flex;
    width: 340px;
    height: 140px;
    background: #252525;
    margin: 0 40px 111px 40px;
    align-items: center;
}

.artistas div img {
    width: 80px;
    height: 80px;
    margin: 32px;
}

.artistas div p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF; 
    text-align: initial;
}

.melhores-artistas > p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.melhores-artistas > p img {
    margin-left: 22px;
    transform: rotate(32.02deg);
}